<div id="content" class="margin-bottom">
    <div class="container career">

        <!--Content Header -->
        <header class="content-header row ">
            <div class="heading col-md-8 col-sm-6 col-xs-12">
                <h1 class="page-header">Visitor Pattern</h1>
            </div>
            <!--
            <ul class="col-md-4 col-sm-6 col-xs-12 breadcrumb ">
                <li> <a href="#">Main Page</a> </li>
                <li> <a href="#">Pages</a> </li>
                <li class="active"> Careers </li>
            </ul>
            -->
        </header>
        <!--Content Header -->
    </div>
</div>