<!--footer Section Start Here -->
<footer id="footer"  >
    <!--<div class="container">-->
        <!--<div class="row">-->

            <!--&lt;!&ndash;primary-footer Start Here &ndash;&gt;-->
            <!--<section class="primary-footer clearfix">-->
                <!--<div class="col-sm-6 col-md-3 intro footer-content">-->
                    <!--<h3>About us</h3>-->
                    <!--<div class="footer-block"> <strong>We love who we are and we are very proud to be the part of your business</strong>-->
                        <!--<p> Curabitur sit amet magna quam. Praesent in libero vel turpis pellentesque egestas sit amet vel nunc. </p>-->
                        <!--<p> Curabitur sit amet magna quam. Praesent in libero vel turpis </p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-6 col-md-3 footer-content latets-article">-->
                    <!--<h3>Latest Posts</h3>-->
                    <!--<div class="row footer-block">-->
                        <!--<div class="col-xs-6 col-sm-12">-->
                            <!--<article class="article-content">-->
                                <!--<figure class="article-pic"> <img src="assets/img/post-img.jpg" alt="Curabitur amet magna quam" /> </figure>-->
                                <!--<div class="post-content">-->
                                    <!--<h4><a href="blog-post-1.html" title="Curabitur amet magna quam"> Curabitur amet magna quam </a></h4>-->
                                    <!--<span class="post-date"><i class="fa fa-calendar"></i>March 31, 2014</span> </div>-->
                            <!--</article>-->
                        <!--</div>-->
                        <!--<div class="col-xs-6 col-sm-12">-->
                            <!--<article class="article-content">-->
                                <!--<figure class="article-pic"> <img src="assets/img/post-img2.jpg" alt="Curabitur amet magna quam" /> </figure>-->
                                <!--<div class="post-content">-->
                                    <!--<h4><a href="blog-post-1.html" title="Curabitur amet magna quam"> Sit amet magna quam </a></h4>-->
                                    <!--<span class="post-date"><i class="fa fa-calendar"></i>March 31, 2014</span> </div>-->
                            <!--</article>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-6 col-md-3 footer-content">-->
                    <!--<h3>Latest Comments</h3>-->
                    <!--<div class="footer-block">-->
                        <!--<div class="latest-comment"> <span class="post-date"><i class="fa fa-calendar"></i>March 31, 2014</span>-->
                            <!--<p> <a href="blog-post-1.html">Curabitur sit amet magna quam. Praesent vel. pellentesque egestas</a> </p>-->
                            <!--<a href="blog-post-1.html" class="admin"><i class="fa fa-user"></i> by admin</a> </div>-->
                        <!--<div class="latest-comment"> <span class="post-date"><i class="fa fa-calendar"></i>March 31, 2014</span>-->
                            <!--<p> <a href="blog-post-1.html">Curabitur sit amet magna quam. Praesent vel. pellentesque egestas</a> </p>-->
                            <!--<a href="blog-post-1.html" class="admin"><i class="fa fa-user"></i> by admin</a> </div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-6 col-md-3 footer-content vcard">-->
                    <!--<h3>Contact Info</h3>-->
                    <!--<div class="footer-block">-->
                        <!--<address class="adr">-->
                            <!--<i class="fa fa-map-marker"></i> <span class="postal-adr"> <span class="street-address">269 Main Street,</span> <span class="locality">London</span> <span class="region">England</span> </span>-->
                        <!--</address>-->
                        <!--<span class="tel"> <i class="fa fa-calendar">&nbsp;</i> <a href="tel:18003456789">1 800 345 67 89</a> </span> <span class="email"> <i class="fa fa-envelope">&nbsp;</i> <a href="mailto:noreply@theemon.com">noreply@theemon.com</a> </span> </div>-->
                <!--</div>-->
            <!--</section>-->
            <!--&lt;!&ndash;primary-footer End Here &ndash;&gt;-->

        <!--</div>-->
    <!--</div>-->
    <div class="secondary-footer">
        <div class="container">
            <div class="row">

                <!--secondary-footer Start Here -->
                <section class="col-xs-8">
                    <span class="copyright">
                        Nicole Bassen © Copyright 2016
                        <div>App version: v<span app-version></span></div>
                    </span>
                </section>
                <section class="col-xs-4">
                    <ul class="social-icons pull-right">
                        <li> <a href="http://github.com/nicolebassen" target="_blank"><i class="fa fa-github fa-2x"></i></a> </li>
                    </ul>
                </section>
                <!--secondary-footer End Here -->

            </div>
        </div>
    </div>
</footer>
<!--footer Section End Here -->

<a href="javascript:;" class="scroll-top"> <i class="fa fa-long-arrow-up"></i> </a> </div>
<!--Wrapper Section End Here -->

<script src="assets/js/jquery-1.11.3.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/masonry.pkgd.min.js"></script>
<script src="assets/js/less.js"></script>
<script src="assets/js/jquery.appear.js"></script>
<script src="assets/js/jquery.flexslider.js"></script>