<div id="content" class="margin-bottom">
    <div class="container career">

        <!--Content Header -->
        <header class="content-header row ">
            <div class="heading col-md-8 col-sm-6 col-xs-12">
                <h1 class="page-header">When to Use</h1>
            </div>
            <!--
            <ul class="col-md-4 col-sm-6 col-xs-12 breadcrumb ">
                <li> <a href="#">Main Page</a> </li>
                <li> <a href="#">Pages</a> </li>
                <li class="active"> Careers </li>
            </ul>
            -->
        </header>
        <!--Content Header -->

        <div class="career-portal">
            <section class="job-list anim-section">
                <div class="row">
                    <div class="col-sm-3">
                        <h3>Best applications:</h3>
                    </div>
                    <div class="col-sm-9">
                        <p> The visitor pattern is most useful when few changes will be made to the class structure,
                            . </p>
                        <div class="row job-portal">
                            <section class="about-job need col-sm-6">
                                <h4>Advantages:</h4>
                                <ul>
                                    <li> <i class="portal-icon"><span class="fa fa-thumbs-up fa-2x"></span></i> Follows the Open/Closed Principle </li>
                                    <li> <i class="portal-icon"><span class="fa fa-thumbs-up fa-2x"></span></i> Code flexibility: functionality is easily added and removed </li>
                                    <li> <i class="portal-icon"><span class="fa fa-thumbs-up fa-2x"></span></i> Decoupling of operations from the object structure </li>
                                    <li> <i class="portal-icon"><span class="fa fa-thumbs-up fa-2x"></span></i> Knowledge HTML5 &amp; jQuery </li>
                                    <li> <i class="portal-icon"><span class="fa fa-thumbs-up fa-2x"></span></i> Knowledge of responsive web design </li>
                                </ul>
                            </section>
                            <section class="about-job offer col-sm-6">
                                <h4>Disadvantages:</h4>
                                <ul>
                                    <li> <i class="offer-icon"><span class="fa fa-thumbs-down fa-2x"></span></i> Encapsulation is easily broken </li>
                                    <li> <i class="offer-icon"><span class="fa fa-thumbs-down fa-2x"></span></i> For every new subclass, a method must be
                                        added to each concrete visitor</li>
                                    <li> <i class="offer-icon"><span class="fa fa-thumbs-down fa-2x"></span></i> Code may be complicated and hard to follow </li>
                                    <li> <i class="offer-icon"><span class="fa fa-thumbs-down fa-2x"></span></i> An iterator must be implemented to
                                        traverse objects </li>
                                </ul>
                            </section>
                            <div class="col-xs-12 career-info">
                                <blockquote>
                                    <h4>Other Considerations</h4>
                                    Those interested and meet the above conditions, please send your CV together with personal details by e-mail address <a href="mailto:noreply@envato.com"> noreply@envato.com</a>. </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>