<div class="loader-block">
    <div class="loader">Loading...</div>
</div>
<!--Wrapper Section Start Here -->
<div id="wrapper"  class="sub-page">

<!--header Section Start Here -->
<header id="header">

    <!--headerBox Start Here -->
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 top">
                            <span class="main-header">Visitor Pattern</span>
                            <section class="menu-wrap">
                                <ul class="nav pull-right">
                                    <li class="menu-sec-parent">
                                        <a href="#!/">Home</a>
                                    </li>
                                    <li>
                                        <a href="#!/overview">Overview</a>
                                    </li>
                                    <li>
                                        <a href="#!/when-to-use">When To Use</a>
                                        <div class="flyout-menu menu-type-1 menu-container">
                                            <ul class="page-menu">
                                                <li>
                                                    <a href="#!/overview">header-1</a>
                                                </li>
                                                <li>
                                                    <a href="header-2.html">header-2</a>
                                                </li>

                                            </ul>
                                        </div>
                                    </li>
                                    <li class="menu-sec-parent">
                                        <a href="#">UML</a>
                                    </li>
                                    <li class="menu-sec-parent">
                                        <a href="#">Implementation</a>
                                        <div class="menu-container">
                                            <div class="menu-type-2 menu-type-5  style-menu ">
                                                <section class="link-section-wrapper clearfix">
                                                    <div class="link-section">
                                                        <ul>
                                                            <li>
                                                                <a href="blog-1.html">blog-1</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="menu-sec-parent">
                                        <a href="#">Sources</a>
                                    </li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--headerCntr End Here -->
</header>
<!--header Section End Here -->